body {
    background-color: lightblue;
}

#title {
    display: block;
    text-align: center;
    font-size: 35px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-weight: bold;
}

.inputText {
    text-align: center;
    font-size: 35px;
    justify-content: space-between;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    margin-bottom: 20px;
    margin-inline-start: 3%;
    border-color: black;
}

#createData {
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-weight: bold;
    border-radius: 10%;
    border-color: lightgreen;
    background-color: lightgreen;
    cursor: pointer;
}
