body {
    background-color: lightblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#title {
    display: block;
    text-align: center;
    font-size: 35px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-weight: bold;
    margin-top: 30px;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#inputText {
    width: 300px;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 25px;
    margin-inline-start: 3%;
    font-size: 18px;
}

#createData {
    font-size: 25px;
    padding: 10px 20px;
    border: none;
    border-radius: 50%;
    background-color: lightgreen;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#createData:hover {
    background-color: green;
    color: white;
}

#saveData {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
}

#saveData li {
    font-size: 22px;
    margin: 10px 0;
}
