body {
    background-color: skyblue;
}

#title {
    display: block;
    text-align: center;
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    font-weight: bold;
    margin-top: 30px;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#inputText {
    width: 300px;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    margin-inline-start: 4%;
    font-size: 18px;
}

#createData {
    font-size: 25px;
    padding: 10px;
    border: none;
    border-radius: 20%;
    background-color: lightgreen;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
}

#createData:hover {
    background-color: green;
    color: white;
}

#buttons {
    display: block;
    text-align: center;
    padding: 10px 20px;
    position: relative;
    color:cadetblue;
    font-size: 20px;
    font-weight: bold;
}

#saveData {
    display: block;
    text-align: center;
    padding: 10px 20px;
    position: relative;
    color:cadetblue;
    font-size: 20px;
    font-weight: bold;
}

.fa-pen-to-square {
    display: inline-block;
    align-items: center;
    align-content: center;
    padding: 5px 10px;
    color: blue;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.fa-pen-to-square:hover {
    color: darkblue;
}

.fa-trash {
    display: inline-block;
    align-items: center;
    align-content: center;
    padding: 5px 10px;
    border-radius: 5px;
    color: red;
    cursor: pointer;
}

.fa-trash:hover {
    color: darkred;
}

#saveData li {
    display: block;
    font-size: 22px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 10px 20px;
    position: relative;
    border-radius: 5%;
}

footer {
    display: block;
    text-align: center;
    padding: 5px 10px;
    position: relative;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top: auto;
    color: lightslategrey;
    font-size: 20px;
    font-weight: bold;
    top: 570px;
}
